body {
  background-color: #696969;
}

h1  {
  color: #E94E77;
}

#logo {
  color: white;
  font-size: .75em;
  font-family: 'Handlee', cursive;
  margin-bottom: .05em;
  font-style: italic;
}

#header {
  text-align: center;
  font-family: 'Handlee', cursive;
  font-size: 3em;
  margin-bottom: .05em;
  margin-top: .05em;
}


input {
  margin-top: .60em;
  text-align: center;
  color: #AB526B;
}

::placeholder {
  color: #49708A;
}

button {
  width: 15em;
  margin-top: 2em !important;
  margin: auto;
}

.errorMessages {
  /* width: 100px; */
  font-size: 10px;
  color: white;
  text-align: justify;
}



/* Flexbox */

.container {
  display: flex;
  flex-direction: column;
}


.column {
  display: flex;
  flex-flow: row wrap;
  width: 300px;
  height: 50%;
  margin: auto;
  justify-content: space-between;
}
