:root {
 --alarmOuterBody: #6F6D6D;
 /* --alarmInnerBody: #88abc2; */
 
}

/* FLEX CONTAINER */
#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* BODY STYLING */

body {
  /* display: flex; */
  background-image: url('https://images.pexels.com/photos/1024611/pexels-photo-1024611.jpeg?auto=compress&cs=tinysrgb&h=1000&w=1500');
  background-repeat: no-repeat; 

}

#alarmOuterBody{
  display: flex;
    flex-direction: column;
  background-color: var(--alarmOuterBody);
  width: 525px;
  height: 300px;
  /* border-radius: 10%; */
  /* border-radius: 5px; */
  /* border-top-left-radius: 80px;
  border-top-right-radius: 80px; */
  border-radius: 45% 45% 6% 6% / 10% 10% 10% 10%; 
  margin-top: 330px;
  margin-left: -50px;

}

#alarmInnerBody{

  /* flex-direction: column; */
  align-self: center;
  /* justify-content: center; */
  /* background-color: var(--alarmInnerBody); */
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  width: 450px;
  height: 300px;
  margin: 2.2em;
  /* border-radius: 5%; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* #leftBell {
  background-color: var(--alarmOuterBody);
  width: 100px;
  height: 50px;
  float: left;
  border-radius: 50% 50% 10% 10%;
}

#rightBell {
  background-color: var(--alarmOuterBody);
  width: 100px;
  height: 50px;
  float: right;
  border-radius: 50% 50% 10% 10%;
} */


#leftLeg {
  background-color: var(--alarmOuterBody);
  width: 50px;
  height: 60px;
  float: left;
  border-radius: 43% 49% 48% 47% / 15% 15% 10% 10%;  
  margin-top: -50px;
  margin-left: -50px;
}

#rightLeg {
  background-color: var(--alarmOuterBody);
  width: 50px;
  height: 60px;
  float: right;
  border-radius: 43% 49% 48% 47% / 15% 15% 10% 10%;
  margin-top: -50px;
  margin-left: -50px;
}

/* Inner Body Styling */

.day {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}

.date {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
}


.season {
  /* display: flex;
  justify-content: flex-end; */
  margin-right: 10px;
  float: right;
  margin-top: -80px;
}



#time {
  margin-top: 25px;
}

#day {
  margin-bottom: 5px;
}

#month {
  padding-right: 5px;
  margin-top: 0;
}

#dayNumber {
  margin-bottom: 0;
  margin-top: 0;
}


#year {
  margin-top: 0;
}

#dayNumber {
  padding-right: 5px;
}
