/* YouTube Test */


body {
  background-color: #88ABC2;

}

#mainSection {
  margin: 100px;
}

.logo {
  height: 25px;
  width: 100px;
  float: left;
  /* margin-top: -40px; */
  /* margin-bottom: -20px; */
}

h1 {
  color: aquamarine;
  text-align: center;
  font-size: 75px;
  margin-top: 0px;
  font-family: 'Clicker Script', cursive;
}

.largeVideo {
  width: 750px;
  height: 500px;
  /* background-color: bisque; */
  margin-left: 20px;
}

.largeVideo iframe {
  /* width: 560px;
  height: 315px; */
  height: 400px;
  width: 700px;
  margin-right: 20px;
  /* float: right; */
}


.rightPanel {
  float: right;
  margin-top: -560px;
}

.rightPanel li {
  list-style-type: none;
  
}

.smallVideo {
  height: 300px;
  width: 350px;
  background-color: azure; 
  margin-right: 20px;
  /* float: right; */
}

.smallVideo iframe {
  height: 300px;
  width: 350px;
  margin-right: 20px;
  /* float: right; */
}

/* h3 {
  margin-right: 20px; 
} */
